html, body{
    padding: 0;
    margin: 0;
    font-size: 3em;
}

#text{
    text-align: center;
    font-weight: bold;
}

#main{
    width: 90vw;
    margin-left: 5vw;
    height: 90vh;
    margin-top: 5vh;
    display:flex;
    align-items: center;
    justify-content: center;
}